.ContainerEditor {
  max-height: 100vh;
  display: flex;
  background-color: #DDD;
  justify-content: space-between;
  flex-direction: column;
  overflow: hidden;
}

.navbarContainer {
  display: flex;
  flex-direction: column;
}

.SlideBar {
  flex-direction: row;
  width: 20vw; /* 11vw; */
  overflow-y: scroll;
  /* height: 100vh; */
  background-color: #DDD;
  /* margin-right: 15%; */
}

.SlideMiniature {
  flex-direction: column;
  height: 200px;  /* rm */
  width: 200px;
  margin: 5px; /* rm */
  background-color: white; /* rm */
}

.SlideMiniature .SlideText p {
  padding: 7vh 1vh;
  font-size: 10px;
}

.SlideMiniature h1 {
  font-size: 20px;
  padding: 1vh;
}

.SlideMiniature SlideIntro {
  font-size: 20px;
  padding: 1vh;
}

.SlideMiniature .quoteHead {
  padding: 0 1vh;
}

.SlideMiniature h2, a {
  font-size: 15px;
}

.SlideMiniature button {
  height: 10px;
  width: 110px;
}

.SlideMiniature p {
  font-size: 10px;
  padding: 0 1vh;
  /* margin: 1vh; */
}

.SlideMiniature img {
  width: 2rem;
  height: 2rem;
}

.__SlideEditor {
  display: flex;
}

.editorScreen {
  height: 80vh;
}

.Editor {
  display: flex;
  flex-direction: row;
}

.EditorNavigation button {
  width: 50%;
  color: #DBFCFF ;
  padding: 1vh;
  font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
  background-color: #00072D;
}

.test {
  height: 5vh;
}

.selected {
  outline: 2px solid blue;
      /* outline: 10px solid #f200ff4f;
    outline-offset: -10px;
    box-shadow: inset 0 0 0px 2px #7d00ff, inset 0 0 20px 4px #39d76b;
     */
}

.button {
  flex-flow: 0;
  display: flex;
  align-items: center;
}

.smooth-dnd-draggable-wrapper {
  /* height: 200px;
  width: 200px; */
}