.SlideBar {
  flex-direction: row;
    width: 20vw;
    overflow-y: scroll;
    height: 100vh;
}

.SlideMiniature {
  flex-direction: column;

  min-height: 200px; /* rm */
  margin: 5px; /* rm */
  background-color: white; /* rm */
}

.SlideMiniature .SlideText p {
  padding: 10px;
}

.__SlideEditor {
  display: flex;
}

.Editor {
  flex-direction: row;
}

.EditorNavigation {
  flex-direction: column;
}

.EditorNavigation button {
  width: 50%;
  color: #DBFCFF ;
  padding: 1vh;
  font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
  background-color: #00072D;
}

.test {
  height: 5vh;
}

.selected {
  outline: 2px solid blue;
      /* outline: 10px solid #f200ff4f;
    outline-offset: -10px;
    box-shadow: inset 0 0 0px 2px #7d00ff, inset 0 0 20px 4px #39d76b;
     */
}
