.__SlideDisplay {
  position: relative;
  height: 100%;
  width: 100%;
  margin: 40px;
}

.__SlideDisplay .nextBtn, .__SlideDisplay .previousBtn {
  position: absolute;
  height: 100%;


}
.__SlideDisplay .previousBtn {
  width: 30%;
  background-color: rgba(224, 37, 74, 0.4);
  left:0;
  top:0;
}

.__SlideDisplay .nextBtn {
  width: 70%;
  background-color: blue;
  opacity: 0.4;
  right: 0;
  top:0;


  /* opaciy: 0;
  padding: 1vh 3vh 1vh 3vh;
  border: none; */
}


.SlideText {
  width: 40%;
  margin-left: 20%;
  margin-right: 20%;
  padding: 5vh;
  background: white;
  z-index: 1;
  height: 60vh;
  text-align: center;
  display: flex;
  align-items: center;
}
