.__SlideDisplay {
  height: 100vh;
  width: 80vh;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  position: relative;
}

.__SlideDisplay p,
.__SlideDisplay h1,
.__SlideDisplay h2,
.__SlideDisplay h3 {
  padding: 3vh;
  vertical-align: middle;
  line-height: 4.5vh;
  text-align: justify;
}

.__SlideDisplay > div {
  flex: 1;
  display: flex;
  justify-content: center;
  background-size: cover;
  background-position: center;
}

.__SlideDisplay > div.darkBackground {
  flex: 1;
  display: flex;
  justify-content: center;
  background-size: cover;
  background-position: center;
}

.__SlideDisplay > div > div {
  flex: 1;
}

.__SlideDisplay .nextBtn, .__SlideDisplay .previousBtn {
  position: absolute;
  height: 100%;
  z-index: 2;
}

.__SlideDisplay .previousBtn {
  width: 30%;
  left:0;
  top:0;
}

.__SlideDisplay .nextBtn {
  width: 70%;
  right: 0;
  top:0;
}
