.ui.segment {
    width: 55vh;
    margin:0;
}


h3 {
    font-size: 3vh;
    padding: 0.5vh;
}

.SipShare {
    display: flex;
    width: 50vh;
    flex-direction: column;
}

.BoxShare {
    display: flex;
    flex-direction: column;
    padding-bottom: 2vh;
}

textarea {
    resize: none;
}

.PreviewBtn {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.Previewsip {
    width: 48vh;
    height: 35vh;
    background-color: #E8ECF1;
}

.Btn {
    display: flex;
    justify-content: center;
    padding: 2vh;
}

.ui.button {
    padding:1.5vh;
}
