.ui.segment {
    width: 55vh;
}

h3 {
    font-size: 3vh;
    padding: 0.5vh;
}

.PreviewBtn {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.Previewsip {
    width: 30vh;
    height: 35vh;
    background-color: #E8ECF1;
}

.Btn {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 2vh;
    width: 150px;
}

.ui.button {
    padding:1.5vh;
}
