.SlideImage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  width: 80%;
  height: 100%;
  align-items: center;
}

.SlideImage img {
  width: 90%;
  z-index: 1;
  align-items: center;
}

.SlideImage p {
  line-height: 4.5vh;
  font-size: 1em;
  padding: 0 1vh;
  padding-top: 3vh;
  text-align: justify;
}
