.SlideIntro {
  flex-direction: column;
}

.SlideIntro > div {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 2vh;
}

.SlideIntro h1 {
  font-size: 4.5vh;
}

.SlideIntro h2 {
  font-size: 2.5vh;
}
